/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
#head_nav{
    display: inline-block;
    background: rgb(255 251 222);
    height: 100px;
    width: 2000px;
}
body {
    background: rgb(255 251 222);
    clear: both;
}
#body_section{
    display: inline-block;
}


/******************************************
/* LAYOUT
/*******************************************/
nav section{
   display: inline-block;
}

nav section ul li{
    display: inline-block;
    color:blue;
    font-size: 2em;
    font-weight: bold;
    width: 300px;

}
nav section, section + section ul li{
        width: 200px;
}
nav section ul li a {
    text-decoration: none;
    color:blue;
}
#mid_logo{
    width: 300px;
    margin: 5px 0 0 0;
}

.left{
    vertical-align: top;
    width:700px;
}
.right{
    vertical-align: top;
    width:800px;
}
#img{
    float: left;
    margin: 0 0 0 100px;
}
#content{
    float: left;
    width: 33.333%;
}
section h1{
    font-size: 80px;
}
body section nav ul li{
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    width: 160px;
    font-size: 40px;
    text-align: center;
    background: blue;
    margin: 10px;
}
body section nav ul li a{
    text-decoration: none;
    color: white;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
