/* Box Model Hack */
* {
  box-sizing: border-box;
  background: rgb(255 251 222);
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

#container{
    display:flex;
    flex-direction: column;
    /*justify-content: center;*/
}


/******************************************
/* LAYOUT
/*******************************************/

#login{
    text-decoration: none;
    font-size: 15px;
    color: grey;
    padding: 0px 0px 0px 18px;
}
#log_img{
    padding: 0px 0px 0px 0px;
}
nav, main, aside {
    float: left;
    height: 500px;
}
nav ul li a{
     text-decoration: none;
     font-family: "Source Sans Pro";
     color: grey;
     font-size: 20px;
}

nav ul{
    list-style: none;
    padding: 0px 0px 0px 18px;
    font-size: 25px;
}
nav{
    width: 200px;
}
main{
    padding: 0px 0px 0px 40px;
}
aside{

}
main h1 {
    margin: 10px 0 0 0;
}
h2{
    margin: 0px;
    color: black;
    font-size: 25px
}

main img{
    padding: 0px 0px 20px 0px;
}

aside section{
    border-bottom: 1px solid black;
    margin: 10px 0px 10px 40px;
    width: 400px;
}
aside section a{
    text-decoration: none;
}
aside section a h2{
    margin: 0 0 0 0;
}
section span{
    color: black;
}
#bottom, #second, #third {
    width: 59%;
    clear: both;
    float: left;
 }
.left{
    width: 20%;
    margin: 0 0 0 240px;
}

.middle{
    width: 35%;
    padding: 0 60px 0 80px;
}
.right{
    width: 27.5%;
}
div{
    float: left;
    height: 240px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
div img{
    float:right;
    padding: 10px 0px 0 0px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
