/* Box Model Hack */
* {
     box-sizing: border-box;
     margin: 0;
     font-size: 10px;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}


/******************************************
/* LAYOUT
/*******************************************/
header {
    background: rgb(111 116 118);
}
header section {
    display:flex;
    justify-content: space-around;
    color: white;
    font-size: 1.5em;
    padding: 20px 0 0 0;
}
#donate_button{
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 5px 10px 5px;
    background: rgb(255 251 222);
    color: rgb(111 116 118);
}
.otherButtons{
    border: 1px solid black;
    margin: 20px 0 0 0;
    padding: 15px 5px 10px 5px;
    background: rgb(239 219 196);
    text-decoration: none;
    font-size: 3em;
    color:black;
}
.bottom_button{
    border: 1px solid black;
    margin: 20px 0 0 0;
    padding: 15px 5px 10px 5px;
    background: rgb(255 251 222);
    text-decoration: none;
    font-size: 3em;
    color:black;
}

.header_item1{
    padding: 15px;
}
#top_section{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    background: rgb(111 116 118);
    padding: 40px 0 0 0;

}
h1{
    font-size: 10em;
    font-family: "Source Serif 4", "Roboto", "Source Sans Pro";
}
.firsType{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    width: 67%;
    line-height: 1.5em;
    padding: 40px;
}
.secondType{
    text-align: center;
    font-family: "Source Serif 4", "Roboto", "Source Sans Pro";
    font-size: 3em;
    width: 40%;
}
.thirdType{
    font-family: "Source Serif 4", "Roboto", "Source Sans Pro";
    font-size: 4em;
    font-weight: bold;
    margin: 180px 0 40px 0;
}
.fourthType{
        font-family: "Source Serif 4", "Roboto", "Source Sans Pro";
        font-size: 4em;
        font-weight: bold;
        margin: 20px 0 20px 0;
}
.footType{
        font-family: "Source Serif 4", "Roboto", "Source Sans Pro";
        font-size: 4em;
        font-weight: bold;
        color: rgb(239 219 196);
}
#mid_section{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    background: rgb(255 251 222);

}
#split_mid_section{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 1400px;
        background: rgb(239 219 196);
}
#splitLeftnRight{
    display:flex;
    height: 1400px;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;

}

.split_image{
    width: 40%;
    margin: 80px 0 0 0;
}

footer {
    display: flex;
    justify-content: space-around;
    background:black;
    height: 400px;
}
.footSection{
    margin: 30px;
    width: 600px;
    height: 360px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 800px) {
    section{
        background: blue;
    }
}